<%# login %>
<% provide(:title, "LOGIN") %>

<div class="form">
  <div class=" row home-login">
    <aside class="form-main">
      <h3>LOGIN FORM</h3>
      <div class="card">
        <article class="card-body">
          <%= render 'loginform' %>
        </article>
      </div> <!-- card// -->
    </aside> <!-- col// -->
  </div>
</div>