<%# password resets %>
<% provide(:title, "PASSWORD RESET") %>

<div class="form">
  <div class=" row home-signup">
    <aside class="form-main">
      <h3>PASSWORD RESET FORM</h3>
      <div class="card">
        <article class="card-body">
          <%= render 'passwordresetform' %>
        </article>
      </div>
    </aside>
  </div>
</div>