<%# password reset send email %>
<% provide(:title, "PASSWORD RESET SEND EMAIL") %>

<div class="form">
  <div class=" row home-signup">
    <aside class="form-main">
      <h3>PASSWORD RESET SEND EMAIL</h3>
      <div class="card">
        <article class="card-body">
          <%= render 'password_reset_send_email' %>
        </article>
      </div>
    </aside>
  </div>
</div>