<h1>Account activation</h1>

<p>Hi,<%= @user.name %>,</p>

<p>welcome to My garage!<br>link to check!!</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>
