<h1>パスワードリセット</h1>

<p>こんにちは、<%= @user.name %></p>

<p>My garageへようこそ！<br>パスワードリセットのため、下記リンクのクリックを宜しくお願い致します！</p>

<%= link_to "パスワードリセット", edit_password_reset_url(@user.reset_token, email: @user.email) %>
