<ul class="all-users">
  <% @all_user.each do |user| %>
    <li class="users">
      <%= gravatar_for user %>
      <%= link_to user.name %>
      <% if current_user.admin? && !current_user?(user) %>
      <%= link_to "delete", user, method: :delete, class: "btn btn-danger pull-right",
                      data: { confirm: "本当にユーザーを削除しますか?" } %>
      <% end %>
    </li>
  <% end %>
  <%= paginate @all_user %>
</ul>
