<%# edit %>
<% provide(:title, "SETTING | @user.name") %>

<div class="form">
  <div class=" row home-signup">
    <aside class="form-main">
      <h3>SETTING FORM</h3>
      <div class="card">
        <article class="card-body">
          <%= render 'settingform' %>
        </article>
      </div>
    </aside>
  </div>
</div>