<%# index %>
<% provide(:title, "ALL USERS") %>

<div class="form-index">
  <div class="row home-index">
    <aside class="form-main">
      <h3>ALL USERS</h3>
      <div class="card">
        <article class="card-body">
          <%= render 'all_users' %>
        </article>
      </div>
    </aside>
  </div>
</div>