<% provide(:title, @user.name) %>
<div class="show">
  <div class ="show-top">
    <div class="show-left">
      <%= gravatar_for @user %>
    </div>
    <div class="show-right">
      <h1><%= @user.name %></h1>
    </div>
  </div>
  <div class="profile-body">
  </div>
  <div class="profile-bottom">
  </div>
</div>