<%# signup %>
<% provide(:title, "SIGN UP") %>

<div class="form">
  <div class=" row home-signup">
    <aside class="form-main">
      <h3>SIGN UP FORM</h3>
      <div class="card">
        <article class="card-body">
          <%= render 'signupform' %>
        </article>
      </div>
    </aside>
  </div>
</div>
