<div class="home">
  <div class="center jumbotron">
    <h1>My Garage</h1>
    <p>アナタの自慢の車を世界にシェアしてみませんか？</p>
  </div>



  <hr>
  <div class="form-login">
    <div class=" row home-login">
      <aside class="col-sm-4">
        <h3>LOGIN FORM</h3>
        <div class="card">
          <article class="card-body">
            <form>
              <div class="form-group">
                <label>メールアドレス</label>
                <input name="" class="form-control" placeholder="Email" type="email">
              </div> <!-- form-group// -->
              <div class="form-group">
                <label>パスワード</label>
                <%= link_to "パスワードを忘れましたか？", "#", class: "float-right" %>
                <input class="form-control" placeholder="Password" type="password">
              </div> <!-- form-group// -->
              <div class="form-group">
                <div class="checkbox">
                  <label> <input type="checkbox">パスワードを保存する</label>
                </div> <!-- checkbox // -->
              </div> <!-- form-group// -->
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">ログインする</button>
              </div> <!-- form-group// -->
              <div class="form-group">
                <label>ご新規の方はこちら</label>
                <%= link_to "アカウントを作成する", signup_path, class: "float-right" %>
              </div>  <!--form-group//-->
            </form>
          </article>
        </div> <!-- card// -->
      </aside> <!-- col// -->
    </div>
  </div>
</div>