<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "My Garage", root_path, class:"navbar-brand size1" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li class="header-btn">
              <%= link_to "HOME", root_path, class:"navbar-brand" %>
            </li>
            <li class="header-btn">
              <%= link_to "LOGIN", "#", class:"navbar-brand" %>
            </li>
            <li class="header-btn">
              <%= link_to "SIGN UP", signup_path, class:"navbar-brand" %>
            </li>
          </ul>
        </nav>
      </div>
    </header>